<!DOCTYPE html>
<html ng-app>
	<head>
		<link rel="stylesheet" href="css/bootstrap.css" />
		<link rel="stylesheet" href="css/styles.css" />
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
		<script type="text/javascript" src="js/jquery.js"></script>
		<script type="text/javascript" src="js/underscore.js"></script>
		<script type="text/javascript" src="js/backbone.js"></script>
		<script type="text/javascript" src="js/bootstrap.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
	</head>
	
	<script type="text/html" id="template-change">
		<div class="row text-center">
			<div class="col-md-8 col-md-offset-2">
				<p>You have to return</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<% 
					_.each(change, function(item, key, list) {
				%>
					<div class="currency-unit-container">
						<div class="img-container">
							<img src="img/<%= key %>.png" />
						</div>
						<span aria-labelledby="<%= key %> of <%= change[key] %>">
							<%= change[key] %>
							x
							<%= key %>
						</span>
					</div>
				<%
					});
				%>
			</div>
		</div>
		<div class="row text-center">
			<div class="col-md-8 col-md-offset-2">
				<p>in change.</p>
			</div>
		</div>
		<div class="row text-center reset-container">
			<div class="col-md-8 col-md-offset-2">
				<p><span class="glyphicon glyphicon-refresh"></span><a href="#" id="reset-app" aria-labelledby="reset the application">reset</a></p>
			</div>
		</div>
	</script>
	
	
	<body>
		<h1 class="text-center">Hello!</h1>
		<div class="container" id="appContainer">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<form role="form" class="form-inline">
						<div class="form-group">
							<span class="text">
								Please input the product price
							</span>
							<label for="priceVal" class="sr-only">price</label>
							<div class="input-group form-inline">
								<span class="input-group-addon">£</span>
								<input type="text" value="" name="priceVal" class="form-control" placeholder="eg. 12.99" id="params-price" aria-describedby="item price"/>
							</div>
							<span class="text">
								and the amount tendered 
							</span>
							<label for="amountVal" class="sr-only">Amount</label>
							<div class="input-group form-inline">
								<span class="input-group-addon">£</span>
								<input type="text" name="amountVal" class="form-control" value="" placeholder="eg. 20" id="params-amount" aria-describedby="amount paid"/> 
							</div>
						</div>
					</form>
				</div>
			</div>
			<div id="change-container">

			</div>
		</div>
	</body>
	
	<script type="text/javascript">
		AppModel = Backbone.Model.extend({
			defaults: {
				price: 0,
				amount: 0,
				change: [],
				currency: [			
					5000,
					2000,
					1000,
					500,
					200,
					100,
					50,
					20,
					10,
					5,
					2,
					1
				],
				currencyNames: [
					'£50',
					'£20',
					'£10',
					'£5',
					'£2',
					'£1',
					'50p',
					'20p',
					'10p',
					'5p',
					'2p',
					'1p'
				]
			},
			
			validateMonetary: function(value) {
				if (isNaN(parseInt(value))) {
					return false;
				} else {
					return parseInt(value);
				}
			},
			
			convertToDecimal: function(value) {
				var separator = null;
				
				if (isNaN(parseInt(value))) {
					return false;
				}
				
				if (value.indexOf('.')>-1) {
					separator = '.';
				}
				if (value.indexOf(',')>-1) {
					separator = ',';
				}
				
				if (separator == null) {
					return parseInt(value)*100;
				}
				
				
				if (value.length-value.indexOf(separator) == 2) {
					return parseInt(value.replace(separator, '')*10);
				}
				if (value.length-value.indexOf(separator) == 3) {
					return parseInt(value.replace(separator, ''));
				}			
				
				return false;
			},
			
			recalculateChange: function(changeDue) {
				var price = this.price;
					amount = this.amount;
					currency = this.defaults.currency;
					changeCurrency = {}
					
				for (var unit in currency) {
					var multiplier = parseInt(changeDue / currency[unit]);
					if (multiplier > 0 ) {
						changeDue -= (currency[unit]*multiplier);
						changeCurrency[this.defaults.currencyNames[unit]] = multiplier;
					}
				}
				
				return changeCurrency;
				
			},
			
		
		});
	
		
		var appModel = new AppModel();
		
		
		AppView = Backbone.View.extend({
			el: "#appContainer",
			
			model: appModel,
			
			events: {
				'change #params-price'	: 'recalculate',
				'change #params-amount'	: 'recalculate',
				'click #reset-app'		: 'resetFields'
			},
			
			initialize: function() {
			
			},
			
			render: function() {
			},
			
			recalculate: function(e) {
				var target = $(e.target);
					newVal = target.val();
					targetName = target.attr('id');
					changeObject = null;
					
				var decimalVal = this.model.convertToDecimal(newVal);
				decimalVal == false ? target.addClass('badValue') : target.removeClass('badValue');
				
				targetName == 'params-price' ? this.model.price = decimalVal : this.model.amount = decimalVal;
				console.log(decimalVal);
				
				if (this.model.price < this.model.amount) {
					$('#params-price').removeClass('badValue');
					$('#params-amount').removeClass('badValue');
					changeObject = this.model.recalculateChange(this.model.amount-this.model.price);
					
					this.renderChange(changeObject);
				} else {
					$('#params-price').addClass('badValue');
					$('#params-amount').addClass('badValue');
				}
				
			},
			
			renderChange: function(change) {
				var changeContainer = this.$el.find('#change-container');
					template = $('#template-change').html();
					
				changeContainer.html(_.template(template, {change: change}));
			},
			
			resetFields: function() {
				this.$el.find('#params-price').val('');
				this.$el.find('#params-amount').val('');
				this.$el.find('#change-container').html('');
				
				this.model.price = 0;
				this.model.amount = 0;
			}
			

		});
		
		
		AppRouter = Backbone.Router.extend({
		
		
		});
		
		var appRouter = new AppRouter();
	
		Backbone.history.start();
		
		var appView = new AppView();
		
		
		
	</script>
</html>